*{margin:0; padding:0;}

body{
  bckground-color:#DEE2E6;
  max-width:100%;
  overflow-x:hidden;
  font-family: 'Montserrat Alternates', sans-serif;
}
nav{
  backgrond-color:#4895ef;
  color:snow;
  padding:5px 0px;
  margin:0 auto;
  width:99%
}
nav ul,li{
  font-size:14px;
  list-style:none;
  display:flex;
  justify-content:space-between;
  font-weight:bold;
  padding:5px 7px;
  border-radius:5px;
}
nav li:nth-child(1):hover{
  opacity:0.5;
  padding:5px 7px;
  border-radius:5px;
  background-image:linear-gradient(to left,#4361EE,#3A0CA3);
}

nav li:nth-child(2):hover{
  opacity:0.5;
  padding:5px 7px;
  border-radius:5px;
  background-image:linear-gradient(to left,#4361EE,#3A0CA3);
}

nav li:nth-child(3):hover{
  opacity:0.5;
  padding:5px 7px;
  border-radius:5px;
  background-image:linear-gradient(to left,#4361EE,#3A0CA3);
}
#container{
  bakground-color:blue;
  margin-top:2%;
  
}

#image-box{
  background-image:linear-gradient(to left,#4361EE,#3A0CA3);
  margin:0 auto;
  width:99%; height:35vh;
  position:relative;
  border-radius:10px;
}
#image-box img{
  width:38%;
  height:auto;
  margin-top:-60.5%;
  position:absolute;
  margin-left:60%;
  boder:1px solid black;
  position:absolute;
}

.text{
  color:snow;
  font-size:3vh;
  margin-right:140px; 
  margin-top:-160px;
  position:relative;
  text-align:right;
}

.waves svg{
  width:100%;
  margin-top:38.5%;
  position:relative;
}

.about{
  backgrund-image:linear-gradient(to left,#4361EE,#3A0CA3);
  background-color:#4361EE;
  color:snow;
  backround-color:#F8F9FA;
  width:94.2%; height:50vh;
  padding:15px 10px;
  margin-top:23.5%;
  text-align:justify;
  font-size:14px;
  margin-right:auto;
  margin-left:auto;
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.sosial-media img {
  width:10%; height:auto;
  border-radius:100%;
}